################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IX-FE-ConsumingWebApi/.vs/IX-FE-ConsumingWebApi/v16/Server/sqlite3
/IX-FE-ConsumingWebApi/.vs/IX-FE-ConsumingWebApi/v16
/IX-FE-ConsumingWebApi/ExampleIXFE_v_3_1/bin/Debug
/IX-FE-ConsumingWebApi/ExampleIXFE_v_3_1/obj/Debug
/IX-FE-ConsumingWebApi/IO.Swagger/bin/Debug
/IX-FE-ConsumingWebApi/IO.Swagger/obj/Debug
/IX-FE-ConsumingWebApi/packages
