################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IX-FE-ConsumingWebApi/.vs/IX-FE-ConsumingWebApi/v16/Server/sqlite3
